{% extends 'base.html' %}
{% import 'signature_macros.html' as SM with context %}

{% block title %}Stats on signatures to the open letter to the WHOSTP and Subcommittee on Open Science{% endblock %}

{% block content %}
<div class="row">
<div class="col">
  
<h1 class="pt-5 pb-3">Open letter to the WHOSTP and Subcommittee on Open Science</h1>

<h2 class="pb-3 pt-5">Graphs</h2>

<p>All times are UTC.</p>

<h3 class="pb-3 pt-3">All-time</h3>

<img class="img-fluid" src="all_time.png"/>

<h3 class="pb-3 pt-3">Last 24 hours</h3>

<img class="img-fluid" src="last24h.png"/>


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
</div>
{% endblock %}