{% extends 'base.html' %}
{% import 'signature_macros.html' as SM with context %}

{% block title %}Tech for Freedom and Justice{% endblock %}

{% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://techforfreedomandjustice.github.io/tech-open-letter/" />
<meta property="og:url" content="https://techforfreedomandjustice.github.io/tech-open-letter/" />
<meta property="og:title" content="Tech for Freedom and Justice" />
<meta property="og:description" content="We implore all members of our community to use all resources at their disposal to push for an immediate
ceasefire, increased humanitarian aid and justice for all; in particular the Palestinian people, who have
lived under military occupation for over 75 years." />
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">

		<h1 class="pt-5 pb-5">Tech for Freedom and Justice</h1>

	</div>
</div>

<div class="row">

	<div class="col-lg-12 theletter">

		<p>The horrors taking place in Gaza over the past six months are irreconcilable with any notions of a shared
			humanity and human rights. Israel has killed over 31,000 people, including more than 13,000 children. Israel
			has also forcibly displaced nearly 2 million people - all while depriving them of critical humanitarian
			supplies. The people of the Gaza Strip are currently grappling with widespread famine, disease and
			displacement.</p>

		<p>While many in the tech community rushed to support Israel following October 7th, the silence surrounding the ongoing humanitarian crisis in Gaza disregards the sanctity of human life. This catastrophe demands our immediate attention, empathy and unwavering collective action. As James Baldwin famously said, “these are all our children”.</p>

		<p>As members of the global venture and tech community, we recognize the imperative for decisive action in
			pursuit of progress and positive change. We urgently call upon our community to stand in support of human
			rights and against extremism, advocating vocally for peace, justice, and the well-being of all individuals
			affected, including the immediate release of all civilian hostages and prisoners. The continued death and
			destruction in Gaza and settler violence in the West Bank will not bring peace and security to the world.
		</p>

		<p>We implore all members of our community to use all resources at their disposal to push for an immediate
			ceasefire, increased humanitarian aid and justice for all; in particular the Palestinian people, who have
			lived under military occupation for over 75 years.</p>

		<p>Selective outrage and empathy are antithetical to the values that our community professes to uphold. We must
			demonstrate unwavering consistency in our advocacy for human rights and in our condemnation of all forms of
			hate, including antisemitism, anti-Palestinian bigotry, and islamophobia. It is imperative that we
			collectively denounce any manifestation of violence or injustice, regardless of its origin.</p>

		<p>Together, through united action, we possess the capacity to effect meaningful change, to promote peace, to
			alleviate the suffering in Gaza and to champion justice for all in the region and across the globe.</p>
		<p class="pt-3">Signed,</p>
		<p>
			<a href="https://airtable.com/appUsRsVd0cZivCHM/pagjvogv0jBvoJ0xS/form"><button type="button"
					class="btn btn-primary">+ Click to add your signature</button></a>
		</p>

		{# {{ SM.signature_list(false) }}

		<div class="card p-3 mb-3">
			<div>
				<a href="all_signatures.html">See all {{ signatures | length }} signatures</a>
			</div>
		</div>#}
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
	<div class="col-lg-4 d-none d-lg-block pl-5">
	</div>
</div>

{% endblock %}