{% extends 'base.html' %}
{% import 'signature_macros.html' as SM with context %}

{% block title %}Stats on signatures to the open letter to the WHOSTP and Subcommittee on Open Science{% endblock %}

{% block content %}
<div class="row">
<div class="col">
  
<h1 class="pt-5 pb-3">Open letter to the WHOSTP and Subcommittee on Open Science</h1>

<h2 class="pb-3 pt-5">Sharing</h2>

<p>Please share this open letter with your colleagues and friends. Here are some options:</p>

<p>Share a link to the <a href="https://ostp-letter.github.io/why.html">article explaining why we think people should sign the letter</a>, written for researchers.</p>

<p>Share a link directly to the <a href="https://ostp-letter.github.io/">open letter</a>, for people familiar with scholarly publishing.</p>

<div>
    Share on social media:
</div>

<div style="font-size: 200%;">
    <a style="p-1" href="https://twitter.com/neuromatch/status/1574756911827787776"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a style="p-1" href="https://www.facebook.com/Neuromatch/posts/418536790392025"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a style="p-1" href="https://www.linkedin.com/feed/update/urn:li:activity:6980524507883028480"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a style="p-1" href="https://www.instagram.com/p/CjAyZqWIZot/?utm_source=ig_web_copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>

<p>Thank you so much!</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
</div>
{% endblock %}