{% macro single_signature(signature, use_timestamp=false) %}
    {% set F = signature.fields %}
    <div class="signature card p-3">
        <span class="sig_name">{{F['Full name']|e}}</span>
        {% if F.Organization %}<span class="sig_institution">{{F.Organization|e}}</span>{% endif %}
        {% if F.Status %}
                <span class="sig_status">{{F.Status|e}}</span>
        {% endif %}
        {% if F.Comments %}<span class="sig_comment">{{F.Comments|e}}</span>{% endif %}
        {% if use_timestamp %}
        <span class="sig_timestamp">Signed @ {{ signature['createdTime'] }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro signature_list(list_all, recent=false) %}
{% if recent %}
{% set signatures = signatures_recent %}
{% endif %}
<div class="card-columns">
    <!-- {% if not list_all %}
        <div class="signature card p-3">
            <b>The Board of Directors of <a href="https://neuromatch.io">Neuromatch</a></b>
        </div>    
    {% endif %} -->
    <!-- {% for signature in signatures if signature.fields.Name and (list_all or signature.fields['Major Signer']) %}
        {{ single_signature(signature, use_timestamp=list_all) }}
    {% endfor %} -->
    {% for signature in signatures %}
        {{ single_signature(signature, use_timestamp=list_all) }}
    {% endfor %}
</div>
{% endmacro %}