{% extends 'base.html' %}
{% import 'signature_macros.html' as SM with context %}

{% block title %}Stats on signatures to the open letter to the WHOSTP and Subcommittee on Open Science{% endblock %}

{% block content %}
<div class="row">
<div class="col">
  
<h1 class="pt-5 pb-3">Open letter to the WHOSTP and Subcommittee on Open Science</h1>

<h2 class="pb-3 pt-5">Statistics</h2>

<p>
    Total signatures: {{ signatures | length }}.
</p>

{% set colors = ["#fbb4ae", "#b3cde3", "#ccebc5", "#decbe4", "#fed9a6"] %}

<div>By position:</div>

{% set sum_positions = sum(position_counts.values()) %}

<div class="progress" style="height: 2em;">
{% for position, count in (position_counts | dictsort(by='value', reverse=True))[:5] %}
    {% set pc = (100*count)/sum_positions %}
    <div class="progress-bar" role="progressbar" style="width: {{pc}}%; background-color: {{ colors[loop.index0] }}; color: black; text-overflow: ''; overflow: hidden; white-space: nowrap;" aria-valuenow="{{ count }}" aria-valuemin="0" aria-valuemax="100">{{ position }} : {{ count }}</div>
{% endfor %}
</div>

<div>By country (verified):</div>

{% set sum_countries = sum(country_counts.values()) %}

<div class="progress" style="height: 2em;">
{% for country, count in (country_counts | dictsort(by='value', reverse=True))[:5] %}
    {% set pc = (100*count)/sum_countries %}
    <div class="progress-bar" role="progressbar" style="width: {{pc}}%; background-color: {{ colors[loop.index0] }}; color: black; text-overflow: ''; overflow: hidden; white-space: nowrap;" aria-valuenow="{{ count }}" aria-valuemin="0" aria-valuemax="100">{{ country }} : {{ count }}</div>
{% endfor %}
</div>

<h3 class="pb-3 pt-5">Details</h3>

<div class="row">
    <div class="col-lg-6">
        <h4 class="pb-3">By position</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Signature count</th>
                </tr>
            </thead>
            <tbody>
                {% for position, count in position_counts | dictsort(by='value', reverse=True) %}
                    <tr>
                        <td>{{ position }}</th>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <div class="col-lg-6">
        <h4 class="pb-3">By country</h4>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Signature count</th>
                </tr>
            </thead>
            <tbody>
                {% for country, count in country_counts | dictsort(by='value', reverse=True) %}
                    <tr>
                        <td>{{ country }}</th>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>                
    </div>
</div>

<h3 class="pb-3 pt-3">Recent signatures</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Institution</th>
            <th scope="col">Position</th>
            <th class="d-none d-lg-table-cell" scope="col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for signature in recent_signatures[:50] %}
            {% set F = signature.fields %}
            <tr>
                <td><span class="sig_name">{{ F.Name | e }}</span></th>
                <td><span class="sig_institution">{{ F.Institution | e }}</span></td>
                <td>
                    {% if F.Status=="Anything else (enter below)" %}
                    <span class="sig_status">{{F["Other Position"]|e}}</span>
                    {% else %}
                    <span class="sig_status">{{F.Status|e}}</span>
                    {% endif %}
                </td>
                <td class="d-none d-lg-table-cell"><span class="sig_comment">{{ F.Comment | e }}</span></td>
            </tr>
        {% endfor %}
    </tbody>
</table>                


<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
</div>
{% endblock %}