# This workflow will install Python dependencies, run update-letter.py

name: Update signatures and rebuild letter

on:
  schedule:
    - cron: "*/60 * * * *"
  workflow_dispatch:
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Compile HTML
      env: 
        AIRTABLE_ID: ${{ secrets.AIRTABLE_ID }}    
        AIRTABLE_API_KEY: ${{ secrets.AIRTABLE_API_KEY }}    
      run: |
        python update-letter.py
    - name: Commit & Push changes
      uses: actions-js/push@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
